<!---Formatting for any of our Add, View, Edit task views. For now, I've put in general text boxes that don't necessarily
link up to anything in particular in the controllers. We'll want to hook these up to the controllers and the task factory.
-->
<ion-view view-title="Edit Task">
    <ion-content class="padding">
        Edit your task:<br>
        <!--Task name-->
        <div class="bottom">
            <div style="float: left; width: 100%;">
                <label class="item item-input" >
                    <textarea type="text" name="taskName" id="taskName-textarea" ng-model="$parent.taskName" placeholder="Task Name" style="background: transparent; resize: none;"></textarea>
                </label>
            </div>
            <!--Task description-->
            <div style="float: left; width: 100%;">
                <label class="item item-input">
                    <textarea type="text" name="descrip" id="descrip-textarea" ng-model="$parent.descrip" placeholder="Task Description" style="background: transparent; resize: none;"></textarea>
                </label>
            </div>
        </div>

        <!--Task Category. A text box for now but this should change.-->
        <div class="bottom">
            <div style="float: left; width: 50%;">
                <label class="item item-input">
<!--set height absolutely as 38px to match with other input textbox, may cause problem-->
<!--and the text color may need further change-->
                <select id="category-select-edit" class="item item-input" style="height:38px; border: 0px;">
                
                <option ng-repeat="category in category_list" value="{{category.categoryId}}">{{category.name}}</option>
                <option value="">None</option>
                </select>
                </label>
            </div>
        </div>

            <!--Due Time: I don't like how this is displaying so we should fix this-->
        <div class="bottom" ng-click="editDeadline()">
            <div style="float: left; width: 50%;">
                <label class="item item-input">
                    <textarea disabled type="text" name="time" id="time-textarea" style="background: transparent; resize: none; height: 36px;" >{{task.task_time | date: 'medium' : 'UTC'}}</textarea>
                    <input type="datetime-local" name="time" id="time-input" ng-model="$parent.time" style="display: none; height: 36px;" placeholder="Due Date">
                </label>
            </div>
        </div>

        <div class="bottom">
            <div style="float: left; width: 50%;">
            <label class="item item-input">
                <input disabled type="text" name="evidenceType" id="evidenceType-textarea" ng-model="evidenceTypeName" style="background: transparent;">
            </label>
            </div>
        </div>

        <div class="bottom">
            <div style="float: left; width: 50%;" >
            <label class="item item-input">
                <input disabled type="text" name="viewer" id="viewer-textarea" ng-model="$parent.viewer" placeholder="Viewer" style="background: transparent;">
            </label>
            </div>
        </div>
            
            <!--TODO add additional fields, submit button that feeds to factory, and add variations so that this one HTML
            TODO file can be used by add, view, and edit -->
            <button class="button button-full" ng-click="editTask()">Save Changes</button>
    </ion-content>
</ion-view>
