<ion-view view-title="Viewers">
  <ion-nav-buttons side="secondary"><button class="button button-positive" ng-click="confirmViewer()"><b>Confirm</b></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="background">
      Favourite
    </ion-item>
    <!--ion-list>
      <ion-item ng-repeat="friend in friend_list | filter: { friend_status: 'on' }" class="item-icon-right">
          {{friend.friend_name}}
          <i id="starRate{{friend.friend_uid}}" class="icon ion-ios-star-outline" ng-click="turnStar({{friend.id}})"></i>
      </ion-item>
    </ion-list-->
    <ion-item class="background">
      Friends
    </ion-item>
    
      <ion-radio ng-repeat="friend in friend_list" ng-model="data.friend" ng-value="{{friend.friend_uid}}" ng-change="changeViewer({{friend}})">{{friend.friend_name}}</ion-radio>
    
  </ion-content>
</ion-view>
