<!--Main homeview for decrast-->
<ion-view view-title="Welcome, {{name}}">
  <ion-nav-buttons>
     
<button class="button icon ion-gear-a button-positive" ng-click="goSettings()"></button>
<button class="button icon ion-edit button-positive" ng-click="onClick()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks" class="item-icon-right" ng-click="goDetail(task)">
          {{task.title}}
          <!--  icon-accessory make it samll -->
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
<!--TODO add code here that pulls from our task dictionary and loads each task. Then, on click of task, load that task's
TODO View page. We can use ng-repeat to load it-->
  </ion-content>
</ion-view>
