<ion-view view-title="Friends">
  <ion-content>
    <ion-item class="background">
      Favourite
    </ion-item>
    <ion-list>
      <ion-item ng-repeat="friend in friends | filter: { star: 'on' }" class="item-icon-right">
          {{friend.name}}
          <i id="starRate{{friend.id}}" class="icon ion-ios-star-outline" ng-click="turnStar({{friend.id}})"></i>
      </ion-item>
    </ion-list>
    <ion-item class="background">
      Friends
    </ion-item>
    <ion-list>
      <ion-item ng-repeat="friend in friends | filter: { star: 'normal' }" class="item-icon-right">
          {{friend.name}}
          <!--  icon-accessory make it samll -->
          <i id="starRate{{friend.id}}" class="icon ion-ios-star-outline" ng-click="turnStar({{friend.id}})"></i>
      </ion-item>
    </ion-list>
    
    <ion-item class="background">
      Blocked
    </ion-item>
    <ion-list>
      <ion-item ng-repeat="friend in friends | filter: { star: 'off' }" class="item-icon-right">
          {{friend.name}}
          
          <i id="starRate{{friend.id}}" class="icon ion-ios-star-outline" ng-click="turnStar({{friend.id}})"></i>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
