<!--Main homeview for decrast-->
<ion-view view-title="Home">

    <ion-nav-buttons side="primary">
        <!--Couldn't get the pencil icon to align right. Maybe someone with better HTML/CSS skills can fix it!-->
        <button class="button icon ion-gear-a button-positive" ng-click="openPopover($event)"></button></ion-nav-buttons>
        <ion-nav-buttons side="secondary"><button class="button icon ion-edit button-positive" ng-click="onClick()"></button>
    </ion-nav-buttons>

    // script for settings popover
    <script id="templates/settings.html" type="text/ng-template">
        <ion-popover-view style="height: {{(70 * 3.7) + 'px'}};">
            <ion-header-bar>
                <h1 class="title">Settings</h1>
            </ion-header-bar>
            <ion-content>
                <a class="item" ng-click="goCategories()">Manage Category</a>
                <a class="item" ng-click="goNotif()">Manage Notifications</a>
                <a class="item" ng-click="goBlock()">Block/Unblock Users</a>
                <a class="item" ng-click="goLogout()">Logout</a>
            </ion-content>
        </ion-popover-view>
    </script>

    <ion-content>
        <h4>&nbsp;&nbsp;&nbsp;Welcome, {{name}} </h4>

           <ion-list>
            <ion-item ng-repeat="task in task_list| orderObjectBy: 'task_time'" class="item-icon-right" ng-click="goDetail(task)">
                {{task.task_name}}      <object align="right">Due: {{ task.task_time | date : 'short' : 'UTC'}}</object>
                <!--  icon-accessory make it small -->
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


