<!--Test Friends' Task tab-->
<ion-view view-title="Friends' Tasks">
  <ion-content>
      <!--TODO this will likely need some facebook api calls to load up friends. if not, ng-repeat-->
    <ion-list>
      <ion-item ng-repeat="task in viewTask_list| orderObjectBy: sorting" class="item-icon-right" ng-click="goDetail(task)">
          {{task.task_name}}      <object align="right">Due: {{ task.task_time | date : 'short' : 'UTC'}}</object>
          <!--  icon-accessory make it small -->
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
