<!---Formatting for any of our Add, View, Edit task views. For now, I've put in general text boxes that don't necessarily
link up to anything in particular in the controllers. We'll want to hook these up to the controllers and the task factory.
-->
<ion-view view-title="Create New Task">
  <ion-content class="padding">
Create a task below
      <!--Task name-->
    <div class="bottom">
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="taskName" id="taskName-textarea" ng-model="$parent.taskName" placeholder="Task Name">
        </label>
      </div>
<!--Task description-->
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="descrip" id="descrip-textarea" ng-model="$parent.descrip" placeholder="Task Description">
        </label>
      </div>
    </div>

<!--Task Category. A text box for now but this should change.-->
    <div class="bottom">
      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="category" id="category-textarea" ng-model="$parent.category" placeholder="Category">
        </label>
      </div>

<!--Due Time. For some reason it does not show up well on iOS. Needs to be checked on Android-->
      <div class="bottom">
        <div style="float: left; width: 50%;">
          <label class="item item-input">
            <input type="text" name="time" id="time-textarea" ng-model="$parent.time" placeholder="Due Date" onclick="this.type='datetime-local'">
          </label>
        </div>
      </div>

        <button class="button button-full" ng-click="onSubmit()">Create Task</button>
  </ion-content>
</ion-view>
