<!---Formatting for any of our Add, View, Edit task views. For now, I've put in general text boxes that don't necessarily
link up to anything in particular in the controllers. We'll want to hook these up to the controllers and the task factory.
-->
<ion-view view-title="Create New Task">
  <ion-content class="padding">
Create a task below
      <!--Task name-->
    <div class="bottom">
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="taskName" id="taskName-textarea" ng-model="$parent.taskName" placeholder="Task Name">
        </label>
      </div>
<!--Task description-->
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="descrip" id="descrip-textarea" ng-model="$parent.descrip" placeholder="Task Description">
        </label>
      </div>
    </div>

    <div class="bottom">
      <div style="float: left; width: 50%;">
        <label class="item item-input">
<!--set height absolutely as 36px to match with other input textbox, may cause problem-->
<!--and the text color may need further change-->
        <select id="category-select" class="item item-input" style="height:36px; border: 0px;">
          <option selected disabled value="">Category</option>
          <option ng-repeat="category in category_list" value="{{category.id}}">{{category.name}}</option>
          <option value="">None</option>
        </select>
        </label>
        
      </div>
    </div>
<!--Due Time. For some reason it does not show up well on iOS. Needs to be checked on Android-->
      <div class="bottom">
        <div style="float: left; width: 50%;">
          <label class="item item-input">
            <input type="text" name="time" id="time-textarea" ng-model="$parent.time" placeholder="Due Date" onclick="this.type='datetime-local'">
          </label>
        </div>
      </div>

      <div class="bottom">
        <div style="float: left; width: 50%;">
          <label class="item item-input">
<!--set height absolutely as 36px to match with other input textbox, may cause problem-->
<!--and the text color may need further change-->
            <select id="evidenceType-select" class="item item-input" style="height:36px; border: 0px;">
              <option disabled selected value="">Evidence Type</option>
              <option ng-repeat="evidenceType in evidenceTypes" value="{{evidenceType.evidenceTypeId}}">{{evidenceType.name}}</option>
<!--do we need none for evidenceType?          
              <option value="">None</option>-->
            </select>
          </label>
        </div>
      </div>
      <div class="bottom">
        <div style="float: left; width: 50%;" >
          <label class="item item-input">
            <input type="text" name="viewer" id="viewer-textarea" ng-model="$parent.viewer" placeholder="Viewer" ng-click="populateViewers()">
          </label>
        </div>
      </div>

      <ion-toggle ng-model="$parent.con_bool"
                ng-change="addText()"  >Facebook Consequence Post
      </ion-toggle>



      <div style="float: left; width: 100%;">
          <label class="item item-input">
              <input type="text" name="consequence" id="consequence-textarea" disabled ng-model="$parent.consequence" placeholder="Enter Facebook Consequence Post Message Here">
          </label>
      </div>
      </div>

        <button class="button button-full" ng-click="onSubmit()">Create Task</button>
  </ion-content>
</ion-view>
